.rootstyle{
    /* width: 75%; */
    margin: 20px;
    text-align: center;
    margin-left: 35%;      
    margin-right: 18%;
    height:50%;
    width: 30%;
}
.mediastyle{
    height: '100%';
    width: '100%';
}

.headingstyle{
    text-align: center;
    align-content: center;
    align-items: center;
    
}

.inlinepurpose{
    display: inline-block;
}
